<form class="form" id="post-quest-form">
  <div class="row">
    <div class="col-md-9 form-container">
      <h2>Title</h2>
      <input class="col-6" id="title-input"></input>
      <h2>Description</h2>
      <textarea class="col-12 description" id="dsc-input"></textarea>
      <h2>Reward</h2>
      <input type="text" class="col-2" id="rwd-input"></input>
      <h2>Quest Type</h2>
      <input type="text" class="col-3" id="qst-type"></input>
      <div class="col-12 buttons-container">
        <button id= "post-quest-submit" type="submit" class="btn btn-primary">Submit</button>
        <button id= "post-quest-cancel" type="button" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </div>
</form>

<script src="/js/post-quest.js"></script>