    <div id="profile-page">
        <img class="badge" src="./imgs/crown.png" alt="crown"></img>
        <div class="container-1">
            <div id="username">{{name}}</div>
            <div id="user-id">ID: {{id}}</div>
            <div id="user-email">{{email}}</div>
            <div id="joined">Joined: October 12 2023</div>
        </div>
        <div id="quest-completed">Quests Completed: 0</div>
        <div id="badges-completed">
            <div id="badge-title">____BADGES____</div>
            <div class="container-2">
                <img class="emblem" src="./imgs/sword.png" alt="crown"></img>
                <img class="emblem" src="./imgs/crown.png" alt="crown"></img>
                <img class="emblem" src="./imgs/crown.png" alt="crown"></img>
            </div>
        </div>
    </div>