    <div id="profile-page">
        <img class="badge" src="./public/imgs/crown.png" alt="crown"></img>
        <div class="container-1">
            <div id="username">ralph</div>
            <div id="user-id">ID: RO1234</div>
            <div id="user-email">example@google.com</div>
            <div id="joined">Joined: October 12 2023</div>
        </div>
        <div id="quest-completed">Quests Completed: 0</div>
        <div id="badges-completed">
            <div id="badge-title">____BADGES____</div>
            <div class="container-2">
                <img class="emblem" src="./public/imgs/crown.png" alt="crown"></img>
                <img class="emblem" src="./public/imgs/crown.png" alt="crown"></img>
                <img class="emblem" src="./public/imgs/crown.png" alt="crown"></img>
                <img class="emblem" src="./public/imgs/crown.png" alt="crown"></img>
                <img class="emblem" src="./public/imgs/crown.png" alt="crown"></img>
                <img class="emblem" src="./public/imgs/crown.png" alt="crown"></img>
                <img class="emblem" src="./public/imgs/crown.png" alt="crown"></img>
                <img class="emblem" src="./public/imgs/crown.png" alt="crown"></img>
            </div>
        </div>
    </div>