<div id='bulletin-board'>
  <div id='bulletin'>Bulletin Board</div>
  <div id='posts-section'>
    {{#each quests as |quest|}}
      <div class='post'>
        <div class='title'>{{quest.title}}</div>
        <div class='desc'>{{quest.description}}</div>
        <div class='reward'>${{quest.reward}}</div>
        <div class='quest-type'>Quest Type: {{quest.quest_type}}</div>
      </div>
    {{/each}}
  </div>
  <div>
    <form id='keyword-search'>
      <input
        type='text'
        placeholder='search keyword...'
        id='search'
        class='search'
      />
    </form>
  </div>
</div>
<div class='quest-preview'>
  <div class='preview'>
    <div class='title'>title</div>
    <div class='desc'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce vel pharetra tortor. Fusce lobortis, ante in gravida placerat, elit
      turpis auctor urna, id facilisis ex ipsum eu quam. Maecenas lobortis,
      sapien posuere sodales condimentum, ligula mi aliquet elit, nec malesuada
      urna lacus id ex. Ut tristique malesuada pellentesque. Etiam vulputate
      augue ex, sed consequat tortor dictum eu.</div>
    <div class='accept-quest'>Would you like to take on this quest?</div>
    <button class='accept-btn'>Accept</button>
    <button class='exit-btn'>X</button>
  </div>
</div>